/* code by Dawninshadow  2018.4.21 */
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video,
details,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
img,
object,
embed {
  max-width: 100%;
  height: auto;
}
html {
  overflow-y: scroll;
}
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  font-weight: bold;
  vertical-align: bottom;
}
td {
  font-weight: normal;
  vertical-align: top;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}
input[type="radio"] {
  vertical-align: text-bottom;
}
input[type="checkbox"] {
  vertical-align: bottom;
}
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}
.ie6 input {
  vertical-align: text-bottom;
}
select,
input,
textarea {
  font: 99% sans-serif;
}
table {
  font-size: inherit;
  font: 100%;
}
small {
  font-size: 85%;
}
strong {
  font-weight: bold;
}
td,
td img {
  vertical-align: top;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}
button,
input,
select,
textarea {
  margin: 0;
}
button,
input[type=button] {
  width: auto;
  overflow: visible;
}
/*^^^^基础样式清除^^^^*/
/*^^^^基础变量^^^^*/
@keyframes typing {
  from {
    width: 10ch;
  }
}
/*^^^^动画^^^^*/
.Ds_show {
  transform: translateZ(0);
  will-change: transform;
  display: none;
}
.Ds_show.active {
  display: block;
}
.Ds_title {
  display: inline-block;
  font-family: monospace, monospace;
  font-weight: bold;
  text-align: left;
  color: #fff;
  line-height: 1;
}
.Ds_title span {
  font-weight: bold;
}
@media (min-aspect-ratio: 1 / 1) {
  .Ds_title {
    font-size: 6.8vw;
    max-width: 47.9vw;
  }
}
@media (max-aspect-ratio: 1 / 1) {
  .Ds_title {
    font-size: 13.2vw;
    max-width: 197.9vw;
  }
}
.Ds_describe {
  font-family: monospace, monospace;
  font-weight: normal;
  line-height: 1.5;
  text-align: left;
  color: #fff;
  margin-top: 27px;
  font-size: 24px;
  max-width: 360px;
}
.Ds_describe span {
  font-weight: normal;
}
@media (min-aspect-ratio: 1 / 1) {
  .Ds_describe {
    font-size: 3.3vw;
    max-width: 50vw;
  }
}
@media (max-aspect-ratio: 1 / 1) {
  .Ds_describe {
    font-size: 5.0vw;
    max-width: 83.3vw;
  }
}
/*^^^^公共样式^^^^*/
body {
  background-color: #111111;
  font-family: monospace, monospace;
}
.Ds_nav {
  position: fixed;
  z-index: 233;
}
.Ds_face {
  position: fixed;
  top: 2.43056vw;
  left: 2.77778vw;
  font: bold 20px/1.25 monospace, monospace;
  text-align: center;
  text-decoration: none;
  color: #fff;
}
.Ds_face > span {
  font-weight: bold;
  display: inline-block;
  width: 1em;
}
.Ds_menu {
  position: fixed;
  z-index: 1;
  bottom: 2.43056vw;
  left: 2.77778vw;
}
.Ds_menu a {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.88;
  text-align: left;
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}
.Ds_menu a:hover {
  border-bottom: 2px solid #fff;
}
.Ds_special {
  position: fixed;
  top: 2.43056vw;
  right: 2.77778vw;
  font: bold 16px monospace, monospace;
  color: #fff;
  text-align: right;
  cursor: pointer;
}
.Ds_special:hover {
  border-bottom: 2px solid #fff;
}
/*^^^^nav^^^^*/
.Ds_page_one {
  width: 100%;
  height: 1000px;
}
.Ds_page_one .Ds_text_top {
  position: fixed;
  top: 26%;
  padding: 0 2.8vw;
}
@media (max-geight:700px) {
  .Ds_page_one .Ds_text_top {
    top: 20%;
  }
}
.Ds_page_one .Ds_line {
  min-width: 2px;
  width: 0.13vw;
  background-color: #fff;
  overflow: hidden;
  position: absolute;
  right: -3vw;
}
@media (max-aspect-ratio: 1 / 1) {
  .Ds_page_one .Ds_line {
    top: 9.2vw;
    height: 13.2vw;
    margin: 3.9vw 0 0 10.6vw;
  }
}
@media (min-aspect-ratio: 1 / 1) {
  .Ds_page_one .Ds_line {
    top: 5.4vw;
    height: 6.8vw;
    margin: 2.0vw 0 0 5.5vw;
  }
}
#Ds_watch_more {
  transform: rotate(-90deg);
  z-index: 332;
  position: absolute;
  margin: 0 auto;
  top: 65vh;
  right: -3vw;
}
#Ds_watch_more:after {
  content: "(° Д° )))) =3 =3 =3 =3";
  width: 25ch;
  white-space: nowrap;
  overflow: hidden;
  color: #fff;
  opacity: .8;
  animation: typing 4s steps(5) infinite;
  font: bold 12px monospace, monospace;
  position: absolute;
}
/*^^^^page-1^^^^*/
.Ds_page_two {
  width: 100%;
  height: 500px;
}
.Ds_page_thr {
  width: 100%;
  height: 3950px;
}
